

input.disabled {
	border:1px solid #D8D9DB;
	background-color: #D8D9DB;
}

/* Form Field (Required) */

input.required, textarea.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing:-1px;
	color: #414142;
	width:255px;
	height:21px;
	background-color:#FFFFFF;
	border:1px solid #D8D9DB;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 2px;
	padding-left: 4px;
}

/* Form Field Passed */

input.validation-passed, textarea.validation-passed {
	background-image: url(../images/form_validated.jpg);
	background-position: 230px 6px;
	background-repeat:no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing:-1px;
	color: #414142;
	width:255px;
	height:21px;
	background-color:#FFFFFF;
	border:1px solid #D8D9DB;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 2px;
	padding-left: 4px;
}

/* Form Field Failed */

input.validation-failed, textarea.validation-failed {
	background-image: url(../images/form_failed.jpg);
	background-position: 230px 6px;
	background-repeat:no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing:-1px;
	color: #414142;
	width:255px;
	height:21px;
	background-color:#FFFFFF;
	border:1px solid #D8D9DB;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.validation-advice {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
	letter-spacing:-1px;
	color: #FF3300;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}
